<%# TODO 背景をフルで表示させる %>
<div class="main">
  <a href="#" class="signup_btn regular_font">新規登録</a>

  <div class="signup_form">
    <div class="su_logo">
      <h1 class="logo">pixiv</h1>
      <p class="regular_font catchphrase">創作活動をもっと楽しく</p>
    </div>

  <div class="input_field_group">
    <div class="input_field">
      <input class="former_input" placeholder="メールアドレス / pixivID">
    </div>
    <div class="input_field">
      <input class="latter_input" placeholder="パスワード">
    </div>
  </div>

    <button class="submit_btn">ログイン</button>

    <p class="regular_font">わすれた</p>

    <p class="regular_font">もっているアカウントでログイン</p>

    <%# ぐぐたす、fb, twitterの画像を加えてボタンにする %>
    <a href="#" class="google_plus_btn"></a>
    <a href="#" class="facebook_btn"></a>
    <a href="#" class="twitter_btn"></a>

  </div>

  <%# 作品名を動的によぶ %>
  <p class="regular_font">夕日</p>
  <%# [ユーザー名]の作品という形にする %>
  <p class="regular_font">麦わらさんの作品</p>
</div>
