<div class="main">
  <div class="signup">
    <a href="#" class="signup_btn regular_font">新規登録</a>
  </div>

  <div class="signup_form">
    <div class="su_logo">
      <h1 class="logo">pixiv</h1>
      <p class="regular_font catchphrase">創作活動をもっと楽しく</p>
    </div>

    <div class="input_field_group">
      <div class="input_field">
        <input class="former_input" placeholder="メールアドレス / pixivID">
      </div>
      <div class="input_field">
        <input class="latter_input" placeholder="パスワード">
      </div>
    </div>

    <button class="submit_btn">ログイン</button>

    <div class="forget_link">
      <a href="#" class="regular_font forget">わすれた</p>
    </div>

    <div class="sns_login">
      <p class="regular_font">もっているアカウントでログイン</p>
      <%# ぐぐたす、fb, twitterの画像を加えてボタンにする %>
      <div class="sns_btn_list">
        <a href="#" class="sns_btn google_plus_btn"></a>
        <a href="#" class="sns_btn facebook_btn"></a>
        <a href="#" class="sns_btn twitter_btn"></a>
      </div>
    </div>
  </div>

  <%# 作品名を動的によぶ %>
  <p class="regular_font">夕日</p>
  <%# [ユーザー名]の作品という形にする %>
  <p class="regular_font">麦わらさんの作品</p>
</div>
