<%# TODO 背景をフルで表示させる %>
<div class="main">
<a href="#" class="signup_btn">新規登録</a>

<div class="signup_form">

<h1 class="logo">pixiv</h1>
<p>創作活動をもっと楽しく</p>

<%# TODO フォーム内に灰色の文字で書くようにする %>
<input>メールアドレス / pixivID<input>
<input>パスワード<input>
<input>ログイン<input>

<p>わすれた</p>

<p>もっているアカウントでログイン</p>

<p>持っているアカウントでログイン</p>

<%# ぐぐたす、fb, twitterの画像を加えてボタンにする %>
<a href="#" class="google_plus_btn"></a>
<a href="#" class="facebook_btn"></a>
<a href="#" class="twitter_btn"></a>

</div>

<%# 作品名を動的によぶ %>
<p>夕日</p>
<%# [ユーザー名]の作品という形にする %>
<p>麦わらさんの作品</p>
</div>
