.main {
    width: 100%;
    height: -webkit-fill-available;
    background-image: url(sample_bg.jpg);
}

.regular_font {
    font-family: 'Hiragino Kaku Gothic Pro';
}

.logo {
    font-family: 'Oriya MN';
    font-size: 41px;
    color: #029BFF;
}

.signup_form {
    width: 177px;
    height: 248px;
    background-color: #EDEEEE;
}